<div class="container">

  <div class="row">

    <h3>Please select dates of your workspace booking</h3>

  </div>

  <Form [formGroup]="datesForm" (ngSubmit)="onFormSubmit()">

  <div class="row">
  <div class="col-md-3">
  <mat-form-field>
    <input matInput type="datetime-local" placeholder="start date"  formControlName="datefrom">
  </mat-form-field>
</div>

<div class="col-md-3">
  <mat-form-field>
    <input matInput type="datetime-local" placeholder="end date" formControlName="dateTo">
  </mat-form-field>
</div>

  </div>
  <button type="submit" [disabled]="false">Submit</button>
</Form>

</div>
